{% load static %}
{% load static %}

<script src="{% static 'assets/vendors/js/jquery.min.js' %}"></script>

<script src="{% static 'assets/vendors/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendors/js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'assets/vendors/js/isotope.pkgd.js' %}"></script>
<script src="{% static 'assets/vendors/js/jarallax.js' %}"></script>
<script src="{% static 'assets/vendors/js/jarallax-element.js' %}"></script>
<script src="{% static 'assets/vendors/js/jquery.countdown.js' %}"></script>
<script src="{% static 'assets/vendors/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/js/ofi.js' %}"></script>
<script src="{% static 'assets/vendors/js/jquery.inview.js' %}"></script>
<script src="{% static 'assets/vendors/js/swiper-bundle.js' %}"></script>
<script src="{% static 'assets/vendors/js/gist-embed.min.js' %}"></script>
<script src="{% static 'assets/js/helpers.js' %}"></script>
<script src="{% static 'assets/js/controllers/show-on-scroll.js' %}"></script>
<script src="{% static 'assets/js/controllers/countdown.js' %}"></script>
<script src="{% static 'assets/js/controllers/isotope.js' %}"></script>
<script src="{% static 'assets/js/controllers/navbar.js' %}"></script>
<script src="{% static 'assets/js/controllers/stretch-column.js' %}"></script>
<script src="{% static 'assets/js/controllers/swiper.js' %}"></script>
<script src="{% static 'assets/js/controllers/others.js' %}"></script>
