
    <title>{{meta.page_title}}</title>
    <meta name="description" content="{{meta.description}}"/>
    {% if meta.index == True %}
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    {% else %}
    <meta name="robots" content="nofollow, noindex, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    {% endif %}
    <meta property="og:title" content="{{meta.page_title}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:site_name" content="{{meta.site_name}}" />
    <meta property="og:updated_time" content="{{meta.updated_at}}" />
    <meta property="og:image" content="{{meta.og_image}}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="{{meta.alt}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:published_time" content="{{meta.created_at}}" />
    <meta property="article:modified_time" content="{{meta.updated_at}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{meta.page_title}}" />
    <meta name="twitter:description" content="{{meta.description}}" />
    <meta name="twitter:site" content="@shayanbar" />
    <meta name="twitter:creator" content="@shayanbar" />
    <meta name="twitter:image" content="{{meta.og_image}}" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="صدرا ابادکار" />
    <meta name="twitter:label2" content="Time to read" />
    <meta name="twitter:data2" content="کمتر از یک دقیقه" />


    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "{{ meta.page_title }}",
          "description": "{{ meta.description }}",
          "url": "{{ request.build_absolute_uri }}",
          "inLanguage": "fa",
          "datePublished": "{{ meta.created_at }}",
          "dateModified": "{{ meta.updated_at }}",
          "isPartOf": {
            "@type": "WebSite",
            "name": "{{ meta.site_name }}",
            "url": "{{ site_url }}"
          },
          "author": {
            "@type": "Person",
            "name": "صدرا ابادکار"
          },
          "image": {
            "@type": "ImageObject",
            "url": "{{ meta.og_image }}",
            "width": "1200",
            "height": "630",
            "caption": "{{ meta.alt }}"
          },
          "publisher": {
            "@type": "Organization",
            "name": "{{ meta.site_name }}",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site_logo_url }}",
              "width": "600",
              "height": "60"
            }
          },
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ request.build_absolute_uri }}"
          }
        }
        </script>




