
<section class="my-20 px-4">
    <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-10">
            <h2 class="text-3xl font-YekanBakh-ExtraBlack">برخی از خدمات شرکت</h2>
            <p class="text-stone-700 mt-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

            {% for i in whys %}
            <div class="bg-white p-4 flex items-center justify-center flex-col leading-8 rounded-2xl cursor-pointer transform hover:-translate-y-1 duration-300 transition-transform">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 pb-3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
                  </svg>


                <h3 class="border-t-4 border-yellow-400 pt-3 font-YekanBakh-Bold text-sm">شخصی سازی آسان</h3>
                <p class="mt-2">{{i.text}}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

